body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.lockpick-button {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: normal;
}

.lockpick-button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.lockpick-button svg {
    flex-shrink: 0;
    margin-left: 5px;
}

.loading-screen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #1591ea;
    font-size: 48px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.countdown {
    font-size: 30px;
    font-weight: bold;
    color: #1591ea;
}

.game-interface {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1%;
    padding: 1%;
}

.progress-bar {
    position: relative;
    width: 350px;
    height: 30px;
    background-color: #c0c0c0;
    border-radius: 5px;
    overflow: visible;
}

.progress-fill {
    width: 0%;
    height: 100%;
    background-color: #76b852;
    transition: width 0.1s linear;
}

.target-square {
    position: absolute;
    width: 30px;
    height: 40px;
    background-color: #0000006c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    bottom: -5px;
    border-radius: 5px;
}

.target-square.hit {
    background-color: green;
}

.result-message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.restart-button {
    display: none;
    background-color: #13aa52;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.restart-button:hover {
    background-color: #0f8c44;
}

.controls {
    margin-bottom: 20px;
}

.controls label {
    margin-right: 10px;
}

.controls input {
    margin-right: 20px;
}

.trykkpå {
    font-size: 16px;
    font-weight: 400;
}