body {
    background-color: rgb(255, 255, 255);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lockpick-button {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    height: 10%;
    width: 20%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: normal;
}

.lockpick-button svg {
    flex-shrink: 0;
    margin-left: 5px;
}


.lockpick-button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}


.game-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.progress-bar {
    position: relative;
    width: 400px;
    height: 30px;
    border: 1px solid #ccc;
    margin: 20px 0;
}

.moving-square, .target-square {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(34, 126, 34);
}

.target-square {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.target-square-1 {
    left: 15%;
}

.target-square-2 {
    left: 35%;
}

.target-square-3 {
    left: 55%;
}

.target-square-4 {
    left: 75%;
}

.target-square-5 {
    left: 95%;
}

.target-square.hit {
    background-color: green;
}


.result-message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.restart-button {
    background-color: #13aa52;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 32%;
}

.restart-button:hover {
    background-color: #0f8c44;
}

.loading-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10%;
    width: 5%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    color: #1591ea;
    font-size: 48px;
    padding: 20px;
    border-radius: 10px;
}

.countdown {
    font-size: 30px;
    font-weight: bold;
}